<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="$cstring" />
    <add key="DataBase" value="listelabdb" />
  </appSettings>
</configuration>
